.body{
    font-family: "Manrope", sans-serif ;
   
    font-weight: 700;
    background: #FFFFFF;
}

button {
 font-family: inherit;
 cursor: pointer;
}

.counter {
   margin: auto;
   width: 700px;
   padding: 100px;
   display: flex;
   flex-direction: column;
   gap: 36px;
}
.counter__value {
   margin: 0 auto;
    font-size: 32px;
    line-height: 44px;
}
.counter__addButton,
.counter__resetButton{
    width: 500px;
    height: 100px;
    border: none;
    border-radius: 20px;
    background: #4191ff;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    margin: 0 auto;
}

.counter__addButton :hover,
.counter__resetButton:hover{
    opacity: 0.7;

}

.counter__resetButton{
    background: #d45;
}

